.dsmButton {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  position: relative;
  min-width: 100px;
  border-radius: 4px;
  outline: 0px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  text-decoration: none;
  border: 2px solid;
  background-color: #ff6c00;
  border-color: #ff6c00;
  color: white;
  font-weight: 700;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  white-space: nowrap;
  -webkit-tap-highlight-color: transparent;
  overflow: hidden;
  height: 40px;
  padding: 6px 17px;
  font-size: 16px;
}

.dsmButton:hover {
  border-width: 0;
}

.dsmButton.round {
  background-color: #2196f3;
  border-color: #2196f3;
  border-radius: 24px;
}

.dsmButton.round:hover {
  background-color: #1c86da;
}

.dsmButton.small {
  font-size: 14px;
  height: 32px;
  padding-left: 19px;
  padding-right: 19px;
}

.dsmButton.small.round {
  padding: 2px 11px;
}

.dsmButton.regular {
  height: 48px;
  padding-left: 35px;
  padding-right: 35px;
  font-size: 18px;
}

.dsmButton.regular.round {
  padding: 10px 20px;
}

.dsmButton.medium {
  height: 40px;
  font-size: 16px;
}

.dsmButton.medium.round {
  padding: 6px 17px;
}

.dsmButton.large {
  height: 64px;
  padding-left: 60px;
  padding-right: 60px;
  font-size: 20px;
}

.dsmButton.extralarge {
  height: 70px;
  padding-left: 60px;
  padding-right: 60px;
  font-size: 22px;
}

.dsmButton:hover {
  background-color: #e36000;
}

.dsmButton:disabled {
  background-color: #d8d8d8;
  color: white;
  border-color: rgba(0, 0, 0, 0);
}

.dsmButton.regentGray {
  color: white;
  background-color: #89959c;
  border-color: #89959c;
}

.dsmButton.regentGray:hover {
  background-color: #3a4850;
  border-color: #3a4850;
}

.dsmButton.towerGray {
  color: white;
  background-color: #b0bdc5;
  border-color: #b0bdc5;
}

.dsmButton.towerGray:hover {
  background-color: #89959c;
  border-color: #89959c;
}

.dsmButton.codGray {
  color: white;
  background-color: #0f0f0f;
  border-color: #0f0f0f;
}

.dsmButton.codGray:hover {
  background-color: #2d2d2d;
  border-color: #2d2d2d;
}

.dsmButton.white {
  color: #3a4850;
  background-color: white;
  border-color: white;
}

.dsmButton.white:hover {
  background-color: #f1f3f4;
  border-color: #f1f3f4;
}

.dsmButton.ghost {
  background-color: transparent !important;
  color: #ff6c00;
}

.dsmButton.ghost:hover {
  border-width: 2px;
  color: white;
  border-color: #ff6c00;
  background-color: #ff6c00 !important;
}

.dsmButton.ghost.secondary {
  color: #2196f3;
}

.dsmButton.ghost.secondary:hover {
  border-color: #1c86da;
  background-color: #1c86da !important;
  color: white;
}

.dsmButton.secondary {
  background-color: #2196f3;
  border-color: #2196f3;
}

.dsmButton.secondary:hover {
  background-color: #1c86da;
  border-color: #1c86da;
}

.dsmButton.porcelain {
  color: #3a4850;
  background-color: #e7ebed;
  border-color: #e7ebed;
}

.dsmButton.porcelain:hover {
  background-color: #e1e1e1;
  border-color: #e1e1e1;
}
