.dsmButton {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    min-width: 100px;
    border-radius: 4px;
    outline: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    background-color: #ff6c00;
    border-color: #ff6c00;
    color: rgb(255, 255, 255);
    transition: 0.3s all;
    box-sizing: border-box;
    white-space: nowrap;
    -webkit-tap-highlight-color: transparent;
    overflow: hidden;
    height: 40px;
    padding: 6px 17px;
    font-size: 16px;
    border: none;
    text-transform: none;

    &:hover,
    &:focus {
        text-decoration: none;
    }


    &.round {
        border: 2px solid;
        background-color: rgb(33, 150, 243);
        border-color: rgb(33, 150, 243);
        border-radius: 24px;

        &:hover {
            background-color: rgb(28, 134, 218);
            border-color: rgb(28, 134, 218);
        }

        &:disabled span {
            display: block !important;
        }

        &.disabled {
            background-color: rgb(28, 134, 218);
            border-color: transparent;
            cursor: default;

            span {
                display: none;
            }

            &.ghost {
                background-color: rgb(28, 134, 218);
                border-color: rgb(28, 134, 218);

                >svg path {
                    fill: rgb(87, 181, 255) !important;
                }
            }

            &.porcelain {
                background-color: rgb(225, 225, 225);

                >svg path {
                    fill: rgb(176, 189, 197) !important;
                }
            }

            &.regentGray {
                background-color: rgb(58, 72, 80);

                >svg path {
                    fill: rgb(137, 149, 156) !important;
                }
            }

            &.towerGray {
                background-color: rgb(137, 149, 156);

                >svg path {
                    fill: rgb(176, 189, 197) !important;
                }
            }

            &.codGray {
                background-color: rgb(45, 45, 45);

                svg path {
                    fill: rgb(137, 137, 137) !important;
                }
            }

            &.white {
                background-color: rgb(241, 243, 244);

                svg path {
                    fill: rgb(176, 189, 197) !important;
                }
            }


        }

        >svg {
            height: 100%;
            transform-origin: center center;
            width: 100%;
            position: absolute;
            inset: 0px;
            margin: auto;

            path {
                fill: rgb(87, 181, 255);
            }
        }

        &:disabled,
        &.ghost.round:disabled {
            border-color: transparent;
            background-color: rgb(216, 216, 216) !important;
            color: rgb(255, 255, 255) !important;

            span {
                opacity: 1;
            }
        }
    }

    &.small {
        font-size: 14px;
        height: 32px;
        padding-left: 19px;
        padding-right: 19px;

        &.round {
            padding: 2px 11px;
        }
    }

    &.regular {
        height: 48px;
        padding-left: 35px;
        padding-right: 35px;
        font-size: 18px;

        &.round {
            padding: 10px 20px;
        }
    }

    &.medium {
        height: 40px;
        font-size: 16px;

        &.round {
            padding: 6px 17px;
        }
    }

    &.large {
        height: 64px;
        padding-left: 60px;
        padding-right: 60px;
        font-size: 20px;
    }

    &.extralarge {
        height: 70px;
        padding-left: 60px;
        padding-right: 60px;
        font-size: 22px;
    }

    &:hover {
        background-color: rgb(227, 96, 0);
        border-color: rgb(227, 96, 0);
    }

    &:disabled {
        cursor: default;
        pointer-events: none;
        background-color: rgb(216, 216, 216);
        color: rgb(255, 255, 255);
        border-color: rgba(0, 0, 0, 0);
    }

    &.regentGray {
        color: rgb(255, 255, 255);
        background-color: rgb(137, 149, 156);
        border-color: rgb(137, 149, 156);

        &:hover {
            background-color: rgb(58, 72, 80);
            border-color: rgb(58, 72, 80);
        }
    }

    &.towerGray {
        color: rgb(255, 255, 255);
        background-color: rgb(176, 189, 197);
        border-color: rgb(176, 189, 197);

        &:hover {
            background-color: rgb(137, 149, 156);
            border-color: rgb(137, 149, 156);
        }
    }

    &.codGray {
        color: rgb(255, 255, 255);
        background-color: rgb(15, 15, 15);
        border-color: rgb(15, 15, 15);

        &:hover {
            background-color: rgb(45, 45, 45);
            border-color: rgb(45, 45, 45);
        }
    }


    &.white {
        color: rgb(58, 72, 80);
        background-color: rgb(255, 255, 255);
        border-color: rgb(255, 255, 255);

        &:hover {
            background-color: rgb(241, 243, 244);
            border-color: rgb(241, 243, 244);
        }
    }


    &.ghost {
        background-color: transparent;
        color: rgb(255, 108, 0);
        border: 1px solid;

        &:hover {
            border-width: 1px;
            color: white;
            border-color: rgb(255, 108, 0);
            background-color: rgb(255, 108, 0);
        }

        &.secondary,
        &.round {
            color: rgb(33, 150, 243);
            background-color: transparent;

            &:hover {
                border-color: rgb(28, 134, 218);
                background-color: rgb(28, 134, 218);
                color: white;
            }
        }

        &.round {
            &.porcelain {
                border-color: rgb(231, 235, 237);
                color: rgb(231, 235, 237);

                &:hover {
                    background-color: rgb(225, 225, 225);
                    border-color: rgb(225, 225, 225);
                    color: rgb(58, 72, 80);
                }
            }

            &.regentGray {
                color: rgb(137, 149, 156);
                border-color: rgb(137, 149, 156);

                &:hover {
                    background-color: rgb(58, 72, 80);
                    border-color: rgb(58, 72, 80);
                    color: white;
                }
            }

            &.towerGray {
                color: rgb(176, 189, 197);
                border-color: rgb(176, 189, 197);

                &:hover {
                    background-color: rgb(137, 149, 156);
                    border-color: rgb(137, 149, 156);
                    color: white;
                }

            }

            &.codGray {
                border-color: rgb(15, 15, 15);
                color: rgb(15, 15, 15);

                &:hover {
                    background-color: rgb(45, 45, 45);
                    border-color: rgb(45, 45, 45);
                    color: white;
                }
            }
        }
    }

    &.secondary {
        background-color: rgb(33, 150, 243);
        border-color: rgb(33, 150, 243);

        &:hover {
            background-color: rgb(28, 134, 218);
            border-color: rgb(28, 134, 218);
        }
    }

    &.porcelain {
        color: rgb(58, 72, 80);
        background-color: rgb(231, 235, 237);
        border-color: rgb(231, 235, 237);

        &:hover {
            background-color: rgb(225, 225, 225);
            border-color: rgb(225, 225, 225);
        }
    }

    &:disabled .progress+* {
        opacity: 0.5;
    }

    &.ghost.disabled {
        background-color: rgb(227, 96, 0);
        color: white;
    }

    &.disabled {
        background-color: rgb(227, 96, 0);
        border: none;
    }

    &.disabled.secondary,
    &.secondary:disabled {
        background-color: rgb(28, 134, 218);

        span {
            opacity: 0.5;
        }
    }

    &.secondary .progress {
        background-color: rgb(63, 171, 230);

        .indeterminate {
            background-color: rgb(27, 70, 126);
        }
    }

    .progress {
        position: absolute;
        height: 4px;
        display: block;
        width: 100%;
        background-color: rgb(245, 154, 52);
        top: 0px;
        background-clip: padding-box;
        overflow: hidden;

        .indeterminate {
            background-color: rgb(210, 67, 30);

            &:before {
                content: '';
                position: absolute;
                background-color: inherit;
                top: 0;
                left: 0;
                bottom: 0;
                will-change: left, right;
                animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
            }

            &:after {
                content: '';
                position: absolute;
                background-color: inherit;
                top: 0;
                left: 0;
                bottom: 0;
                will-change: left, right;
                animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
                animation-delay: 1.15s;
            }
        }
    }

    @-webkit-keyframes indeterminate {
        0% {
            left: -35%;
            right: 100%;
        }

        60% {
            left: 100%;
            right: -90%;
        }

        100% {
            left: 100%;
            right: -90%;
        }
    }

    @keyframes indeterminate {
        0% {
            left: -35%;
            right: 100%;
        }

        60% {
            left: 100%;
            right: -90%;
        }

        100% {
            left: 100%;
            right: -90%;
        }
    }

    @-webkit-keyframes indeterminate-short {
        0% {
            left: -200%;
            right: 100%;
        }

        60% {
            left: 107%;
            right: -8%;
        }

        100% {
            left: 107%;
            right: -8%;
        }
    }

    @keyframes indeterminate-short {
        0% {
            left: -200%;
            right: 100%;
        }

        60% {
            left: 107%;
            right: -8%;
        }

        100% {
            left: 107%;
            right: -8%;
        }
    }
}