a.dsmButton {
  color: var(--color-white);
  font-size: 16px;
  text-decoration: none;
}

.dsmButton {
  display: inline-flex;
  font-family: Roboto;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  min-width: 100px;
  cursor: pointer;
  font-weight: bold;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  border-radius: 8px;
  border: 2px solid;
  border-color: var(--color-primary-dark);
  color: var(--color-white);
  box-sizing: border-box;
  white-space: nowrap;
  height: 40px;
  padding: 6px 17px;
  font-size: 16px;
  text-transform: none;

  @media (hover: hover) {
    &:hover {
      background: var(--color-primary-hover) !important;
      border-color: var(--color-primary-hover);

      &:not(.round) {
        background: var(--gradient-primary-hover) !important;
      }

      &.round,
      &:not(.round) {
        color: var(--color-white);
      }

      .text svg*[stroke]:not[stroke=""] {
        stroke: var(--color-white);
      }

      .text svg*[fill]:not[fill=""] {
        fill: var(--color-white);
      }
    }
  }

  &:not(.round) {
    background: var(--gradient-primary);
  }

  &.round,
  &.ghost.round {
    @media (hover: hover) {
      &:hover {
        border-color: var(--color-primary-hover);
        background: var(--color-primary-hover) !important;
        // color: var(--color-white);

        &.porcelain {
          background: var(--color-porcelain-hover) !important;
          border-color: var(--color-porcelain-hover);
          color: var(--color-outer-space);

          .text svg*[stroke]:not[stroke=""] {
            stroke: var(--color-outer-space);
          }

          .text svg*[fill]:not[fill=""] {
            fill: var(--color-outer-space);
          }
        }

        &.regentGray,
        &.towerGray,
        &.codGray {
          color: var(--color-white);
        }

        &.regentGray {
          background: var(--color-regent-gray-hover) !important;
          border-color: var(--color-regent-gray-hover);
        }

        &.towerGray {
          background: var(--color-tower-gray-hover) !important;
          border-color: var(--color-tower-gray-hover);
        }

        &.codGray {
          background: var(--color-cod-gray-hover) !important;
          border-color: var(--color-cod-gray-hover);
        }

        &.white {
          background: var(--color-white) !important;
          border-color: var(--color-white);
          color: var(--color-outer-space);
        }
      }
    }
  }

  &::before {
    content: "";
    position: absolute;
    background: var(--color-white);
    inset: -2px;
    z-index: 4;
    opacity: 0;
  }

  &::before,
  .click-effect {
    border-radius: 8px;
  }

  &.round .click-effect {
    border-radius: 24px;
  }

  .click-effect {
    width: inherit;
    height: inherit;
    position: absolute;
    inset: -2px;
    z-index: 5;
    overflow: hidden;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(1);
      transform-origin: center;
      border-radius: 50%;
      opacity: 0;
      width: 120%;
      aspect-ratio: 1 / 1;
      transition:
        transform 0.8s,
        opacity 0.8s;
      background: rgba(0, 0, 0, 0.15);
      z-index: 6;
    }
  }

  &.codGray,
  &.regentGray {
    .click-effect::after {
      background: rgba(250, 250, 250, 0.15);
    }
  }

  &:active .click-effect::after {
    opacity: 1;
    transform: translate(-50%, -50%) scale(0);
    transition: all 0s;
  }

  &:hover,
  &:focus {
    text-decoration: none;
  }

  a {
    color: inherit !important;
    text-decoration: inherit !important;
    font-size: inherit !important;
    line-height: inherit !important;
  }

  .text {
    position: relative;
    z-index: 2;
  }

  > svg {
    width: 22px;
    height: 22px;
    transform-origin: center center;
    position: absolute;
    inset: 0px;
    margin: auto;
  }

  &:disabled,
  &.disabled {
    cursor: default;
    pointer-events: none;

    &::before {
      opacity: 0.4;
    }
  }

  &.loading {
    cursor: default;
    pointer-events: none;
    background: var(--color-primary-hover);

    &:not(.round) {
      background: var(--gradient-primary-hover) !important;
    }

    &.round {
      background: var(--color-primary-hover) !important;
    }

    &.round,
    &:not(.round) {
      border-color: var(--color-primary-hover);
    }

    &.porcelain,
    &.white {
      svg path {
        stroke: var(--color-outer-space);
      }
    }

    // &.regentGray,
    // &.towerGray {
    //   svg path {
    //     stroke: var(--color-white);
    //   }
    // }

    // &.codGray svg path {
    //   stroke: var(--color-cod-gray);
    // }

    .text {
      display: none;
    }
  }

  &.ghost {
    background: transparent !important;
    color: var(--color-primary);

    svg circle {
      stroke: var(--color-black);
      stroke-opacity: 0.25;
    }

    svg path {
      stroke: var(--color-white);
      // fill: none;
    }

    &.round {
      &.porcelain {
        border-color: var(--color-porcelain);
        color: var(--color-porcelain);
      }

      &.regentGray {
        color: var(--color-regent-gray);
        border-color: var(--color-regent-gray);
      }

      &.towerGray {
        color: var(--color-tower-gray);
        border-color: var(--color-tower-gray);
      }

      &.codGray {
        border-color: var(--color-cod-gray);
        color: var(--color-cod-gray);
      }

      &.white {
        color: var(--color-white);
        border-color: var(--color-white);
      }
    }
  }

  &.round {
    border-color: var(--color-primary);
    background: var(--color-primary);
    border-radius: 24px;

    &::before {
      border-radius: 24px;
    }

    @media (max-width: 768px) {
      padding: 11px 20px;
    }

    &:disabled .text {
      display: block !important;
    }

    &.regentGray {
      color: var(--color-white);
      background: var(--color-regent-gray);
      border-color: var(--color-regent-gray);

      &.loading {
        background: var(--color-regent-gray-hover) !important;
        border-color: var(--color-regent-gray-hover);
      }
    }

    &.towerGray {
      color: var(--color-white);
      background: var(--color-tower-gray);
      border-color: var(--color-tower-gray);

      &.loading {
        background: var(--color-tower-gray-hover) !important;
        border-color: var(--color-tower-gray-hover);
      }
    }

    &.codGray {
      color: var(--color-white);
      background: var(--color-cod-gray);
      border-color: var(--color-cod-gray);

      &.loading {
        background: var(--color-cod-gray-hover) !important;
        border-color: var(--color-cod-gray-hover);
      }
    }

    &.porcelain {
      color: var(--color-outer-space);
      background: var(--color-porcelain);
      border-color: var(--color-porcelain);

      &.loading {
        background: var(--color-porcelain-hover) !important;
        border-color: var(--color-porcelain-hover);
      }
    }

    &.white {
      color: var(--color-outer-space);
      background: var(--color-white);
      border-color: var(--color-white);

      &.loading {
        background: var(--color-white) !important;
        border-color: var(--color-white);
      }
    }
  }

  &:not(.round) {
    &.extralarge {
      height: 70px;
      padding: 0 29px;
      font-size: 22px;
    }

    @media (max-width: 768px) {
      height: 48px;
      padding: 0 21px;

      &.large,
      &.extralarge,
      &.regular {
        height: 60px;
        padding: 0 21px;
        font-size: 20px;
      }

      &.small,
      &.medium {
        height: 48px;
        padding: 0 21px;
      }
    }
  }

  &.small {
    font-size: 14px;
    height: 32px;
    padding: 0 12px;

    &.round {
      padding: 9px 14px;
    }

    svg {
      width: 18px;
      height: 18px;
    }

    @media (max-width: 768px) {
      &.round {
        padding: 8px 14px;
      }
    }
  }

  &.regular {
    height: 48px;
    padding: 0 18px;
    font-size: 18px;

    &.round {
      padding: 10px 20px;
    }

    svg {
      width: 26px;
      height: 26px;
    }

    @media (max-width: 768px) {
      &.round {
        padding: 13px 23px;
      }
    }
  }

  &.medium {
    height: 40px;
    font-size: 16px;

    &.round {
      padding: 6px 17px;
    }

    &:not(.round) {
      padding: 14px 16px;
    }

    svg {
      width: 22px;
      height: 22px;
    }

    @media (max-width: 768px) {
      &.round {
        padding: 11px 20px;
      }
    }
  }

  &.large {
    height: 60px;
    font-size: 20px;

    &.round {
      padding: 0 24px;
      border-radius: 30px;

      &::before,
      .click-effect {
        border-radius: 30px;
      }
    }

    &:not(.round) {
      padding: 19px 20px;
    }

    svg {
      width: 22px;
      height: 22px;
    }

    @media (max-width: 768px) {
      &.round {
        padding: 17px 24px;
      }
      &:not(.round) {
        padding: 17px 20px;
      }
    }
  }

  @-webkit-keyframes indeterminate {
    0% {
      left: -35%;
      right: 100%;
    }

    60% {
      left: 100%;
      right: -90%;
    }

    100% {
      left: 100%;
      right: -90%;
    }
  }

  @keyframes indeterminate {
    0% {
      left: -35%;
      right: 100%;
    }

    60% {
      left: 100%;
      right: -90%;
    }

    100% {
      left: 100%;
      right: -90%;
    }
  }

  @-webkit-keyframes indeterminate-short {
    0% {
      left: -200%;
      right: 100%;
    }

    60% {
      left: 107%;
      right: -8%;
    }

    100% {
      left: 107%;
      right: -8%;
    }
  }

  @keyframes indeterminate-short {
    0% {
      left: -200%;
      right: 100%;
    }

    60% {
      left: 107%;
      right: -8%;
    }

    100% {
      left: 107%;
      right: -8%;
    }
  }
}
