a.dsmButton {
  color: $color-white;
  font-size: 16px;
  text-decoration: none;
}

.dsmButton {
  display: inline-flex;
  font-family: Roboto;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  min-width: 100px;
  outline: 0px;
  cursor: pointer;
  font-weight: bold;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  border-radius: 8px;
  border: 2px solid;
  border-color: $color-primary-dark;
  color: $color-white;
  box-sizing: border-box;
  white-space: nowrap;
  -webkit-tap-highlight-color: transparent;
  overflow: hidden;
  height: 40px;
  padding: 6px 17px;
  font-size: 16px;
  text-transform: none;

  &:not(.round) {
    background: $gradient-primary;
  }

  &::before {
    content: "";
    position: absolute;
    background: $color-white-overlay;
    inset: 0;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
  }
  &::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    opacity: 0;
    width: 120%;
    aspect-ratio: 1 / 1;
    transition: all 0.8s;
    background: rgba(0, 0, 0, 0.15);
  }

  &:active::after {
    content: "";
    opacity: 1;
    width: 0;
    height: 0;
    transition: all 0s;
    z-index: 0;
  }

  &:hover,
  &:focus {
    text-decoration: none;
  }

  a {
    color: inherit !important;
    text-decoration: inherit !important;
    font-size: inherit !important;
    line-height: inherit !important;
  }

  span {
    position: relative;
    z-index: 2;
  }

  > svg {
    width: 22px;
    height: 22px;
    transform-origin: center center;
    position: absolute;
    inset: 0px;
    margin: auto;
  }

  &:disabled,
  &.disabled {
    cursor: default;
    pointer-events: none;
    border-color: $color-primary-disabled !important;

    > svg path {
      fill: $color-primary-disabled !important;
    }

    &::before {
      content: "";
      opacity: 1;
    }

    &.ghost {
      color: $color-primary-disabled !important;
    }
  }

  &.loading {
    cursor: default;
    pointer-events: none;

    &:not(.round) {
      &:not(.ghost) {
        background: $gradient-primary-hover;
      }
    }

    &.round {
      border-color: $color-primary-hover;
      &:not(.ghost) {
        background: $color-primary-hover;
      }
    }
    span {
      display: none;
    }
  }

  &.ghost {
    background: transparent !important;
    color: $color-primary;

    svg circle {
      stroke: $color-black;
      stroke-opacity: 0.25;
    }

    @media (hover: hover) {
      &:hover {
        color: $color-primary-dark-hover;
        border-color: $color-primary-dark-hover;

        span svg*[stroke]:not[stroke=""] {
          stroke: $color-primary-dark-hover;
        }

        span svg*[fill]:not[fill=""] {
          fill: $color-primary-dark-hover;
        }
      }
    }

    svg path {
      stroke: $color-primary-dark;
      fill: none;
    }

    &.round {
      &.porcelain {
        border-color: $color-porcelain;
        color: $color-porcelain;

        @media (hover: hover) {
          &:hover {
            background: $color-porcelain-hover;
            border-color: $color-porcelain-hover;
            color: $color-outer-space;

            span svg*[stroke]:not[stroke=""] {
              stroke: $color-outer-space;
            }

            span svg*[fill]:not[fill=""] {
              fill: $color-outer-space;
            }
          }
        }
      }

      &.regentGray {
        color: $color-regent-gray;
        border-color: $color-regent-gray;

        @media (hover: hover) {
          &:hover {
            background: $color-regent-gray-hover;
            border-color: $color-regent-gray-hover;
            color: $color-white;

            span svg*[stroke]:not[stroke=""] {
              stroke: $color-white;
            }

            span svg*[fill]:not[fill=""] {
              fill: $color-white;
            }
          }
        }
      }

      &.towerGray {
        color: $color-tower-gray;
        border-color: $color-tower-gray;

        @media (hover: hover) {
          &:hover {
            background: $color-tower-gray-hover;
            border-color: $color-tower-gray-hover;
            color: $color-white;

            span svg*[stroke]:not[stroke=""] {
              stroke: $color-white;
            }

            span svg*[fill]:not[fill=""] {
              fill: $color-white;
            }
          }
        }
      }

      &.codGray {
        border-color: $color-cod-gray;
        color: $color-cod-gray;

        @media (hover: hover) {
          &:hover {
            background: $color-cod-gray-hover;
            border-color: $color-cod-gray-hover;
            color: $color-white;

            span svg*[stroke]:not[stroke=""] {
              stroke: $color-white;
            }

            span svg*[fill]:not[fill=""] {
              fill: $color-white;
            }
          }
        }
      }

      &.white {
        color: $color-white;
        border-color: $color-white;

        @media (hover: hover) {
          &:hover {
            background: $color-white;
            border-color: $color-white;
            color: $color-outer-space;
          }
        }
      }
    }
  }

  &.round {
    border-color: $color-primary;
    background: $color-primary;
    border-radius: 24px;

    @media (hover: hover) {
      &:hover {
        border-color: $color-primary-hover;
        background: $color-primary-hover;
      }
    }

    @media (max-width: 768px) {
      padding: 11px 20px;
    }

    &:disabled span {
      display: block !important;
    }

    &.regentGray {
      color: $color-white;
      background: $color-regent-gray;
      border-color: $color-regent-gray;

      @media (hover: hover) {
        &:hover {
          background: $color-regent-gray-hover;
          border-color: $color-regent-gray-hover;
        }
      }
    }

    &.towerGray {
      color: $color-white;
      background: $color-tower-gray;
      border-color: $color-tower-gray;

      @media (hover: hover) {
        &:hover {
          background: $color-tower-gray-hover;
          border-color: $color-tower-gray-hover;
        }
      }
    }

    &.codGray {
      color: $color-white;
      background: $color-cod-gray;
      border-color: $color-cod-gray;

      @media (hover: hover) {
        &:hover {
          background: $color-cod-gray-hover;
          border-color: $color-cod-gray-hover;
        }
      }
    }

    &.white {
      color: $color-outer-space;
      background: $color-white;
      border-color: $color-white;

      @media (hover: hover) {
        &:hover {
          background: $color-white-hover;
          border-color: $color-white-hover;
        }
      }
    }

    &.disabled {
      &.porcelain {
        background: $color-porcelain-disabled;

        > svg path {
          fill: $color-tower-gray !important;
        }
      }

      &.regentGray {
        background: $color-regent-gray-hover;

        > svg path {
          fill: $color-regent-gray-disabled !important;
        }
      }

      &.towerGray {
        background: $color-tower-gray-hover;

        > svg path {
          fill: $color-tower-gray-disabled !important;
        }
      }

      &.codGray {
        background: $color-cod-gray-hover;

        > svg path {
          fill: $color-cod-gray-disabled !important;
        }
      }

      &.white {
        background: $color-white-hover;

        > svg path {
          fill: $color-tower-gray !important;
        }
      }
    }
  }

  &:not(.round) {
    &.extralarge {
      height: 70px;
      padding: 0 29px;
      font-size: 22px;
    }

    @media (hover: hover) {
      &:hover {
        border-color: $color-primary-dark-hover;

        &:not(.ghost) {
          background: $gradient-primary-hover;
        }
      }
    }

    @media (max-width: 768px) {
      height: 48px;
      padding: 0 21px;

      &.large,
      &.extralarge,
      &.regular {
        height: 60px;
        padding: 0 21px;
        font-size: 20px;
      }

      &.small,
      &.medium {
        height: 48px;
        padding: 0 21px;
      }
    }
  }

  &.small {
    font-size: 14px;
    height: 32px;
    padding: 0 12px;

    &.round {
      padding: 9px 14px;
    }

    svg {
      width: 18px;
      height: 18px;
    }

    @media (max-width: 768px) {
      &.round {
        padding: 8px 14px;
      }
    }
  }

  &.regular {
    height: 48px;
    padding: 0 18px;
    font-size: 18px;

    &.round {
      padding: 10px 20px;
    }

    svg {
      width: 26px;
      height: 26px;
    }

    @media (max-width: 768px) {
      &.round {
        padding: 13px 23px;
      }
    }
  }

  &.medium {
    height: 40px;
    font-size: 16px;

    &.round {
      padding: 6px 17px;
    }

    &:not(.round) {
      padding: 14px 16px;
    }

    svg {
      width: 22px;
      height: 22px;
    }

    @media (max-width: 768px) {
      &.round {
        padding: 11px 20px;
      }
    }
  }

  &.large {
    height: 60px;
    font-size: 20px;

    &.round {
      padding: 0 24px;
      border-radius: 30px;
    }

    &:not(.round) {
      padding: 19px 20px;
    }

    svg {
      width: 22px;
      height: 22px;
    }

    @media (max-width: 768px) {
      &.round {
        padding: 17px 24px;
      }
      &:not(.round) {
        padding: 17px 20px;
      }
    }
  }

  &.porcelain {
    color: $color-outer-space;
    background: $color-porcelain;
    border-color: $color-porcelain;

    @media (hover: hover) {
      &:hover {
        background: $color-porcelain-hover;
        border-color: $color-porcelain-hover;
      }
    }
  }

  @-webkit-keyframes indeterminate {
    0% {
      left: -35%;
      right: 100%;
    }

    60% {
      left: 100%;
      right: -90%;
    }

    100% {
      left: 100%;
      right: -90%;
    }
  }

  @keyframes indeterminate {
    0% {
      left: -35%;
      right: 100%;
    }

    60% {
      left: 100%;
      right: -90%;
    }

    100% {
      left: 100%;
      right: -90%;
    }
  }

  @-webkit-keyframes indeterminate-short {
    0% {
      left: -200%;
      right: 100%;
    }

    60% {
      left: 107%;
      right: -8%;
    }

    100% {
      left: 107%;
      right: -8%;
    }
  }

  @keyframes indeterminate-short {
    0% {
      left: -200%;
      right: 100%;
    }

    60% {
      left: 107%;
      right: -8%;
    }

    100% {
      left: 107%;
      right: -8%;
    }
  }
}
