.dsmButton {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    min-width: 100px;
    border-radius: 4px;
    outline: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    border: 2px solid;
    background-color: #ff6c00;
    border-color: #ff6c00;
    color: rgb(255, 255, 255);
    font-weight: 700;
    transition: background-color 0.3s ease 0s, color 0.3s ease 0s, border-color 0.3s ease 0s;
    box-sizing: border-box;
    white-space: nowrap;
    -webkit-tap-highlight-color: transparent;
    overflow: hidden;
    height: 40px;
    padding: 6px 17px;
    font-size: 16px;

    &.small {
        font-size: 14px;
        height: 32px;
        padding-left: 19px;
        padding-right: 19px;

        &.round {
            padding: 2px 11px;
        }
    }

    &.regular {
        height: 48px;
        padding-left: 35px;
        padding-right: 35px;
        font-size: 18px;

        &.round {
            padding: 10px 20px;
        }
    }

    &.medium {
        height: 40px;
        font-size: 16px;

        &.round {
            padding: 6px 17px;
        }
    }

    &.large {
        height: 64px;
        padding-left: 60px;
        padding-right: 60px;
        font-size: 20px;
    }

    &.extralarge {
        height: 70px;
        padding-left: 60px;
        padding-right: 60px;
        font-size: 22px;
    }

    &:hover {
        background-color: rgb(227, 96, 0);
    }

    &:disabled {
        background-color: rgb(216, 216, 216);
        color: rgb(255, 255, 255);
        border-color: rgba(0, 0, 0, 0);
    }

    &.regentGray {
        color: rgb(255, 255, 255);
        background-color: rgb(137, 149, 156);
        border-color: rgb(137, 149, 156);

        &:hover {
            background-color: rgb(58, 72, 80);
        }
    }

    &.towerGray {
        color: rgb(255, 255, 255);
        background-color: rgb(176, 189, 197);
        border-color: rgb(176, 189, 197);

        &:hover {
            background-color: rgb(137, 149, 156);
        }
    }

    &.codGray {
        color: rgb(255, 255, 255);
        background-color: rgb(15, 15, 15);
        border-color: rgb(15, 15, 15);

        &:hover {
            background-color: rgb(45, 45, 45);
        }
    }


    &.white {
        color: rgb(58, 72, 80);
        background-color: rgb(255, 255, 255);
        border-color: rgb(255, 255, 255);

        &:hover {
            background-color: rgb(241, 243, 244);
        }
    }


    &.ghost {
        background-color: transparent !important;
        color: rgb(255, 108, 0);

        &:hover {
            color: white;
            background-color: rgb(227, 96, 0) !important;
        }

        &.secondary {
            color: rgb(33, 150, 243);

            &:hover {
                background-color: rgb(33, 150, 243) !important;
                color: white;
            }
        }
    }

    &.secondary {
        background-color: rgb(33, 150, 243);
        border-color: rgb(33, 150, 243);

        &:hover {
            background-color: rgb(28, 134, 218);
        }
    }

    &.round {
        border-radius: 24px;
    }

    &.porcelain {
        color: rgb(58, 72, 80);
        background-color: rgb(231, 235, 237);
        border-color: rgb(231, 235, 237);

        &:hover {
            background-color: rgb(225, 225, 225);
        }
    }
}