.dsmForm {
    font-family: Roboto;

    textarea {
        resize: none;
        border: 1px solid rgb(216, 216, 216);
        border-radius: 4px;
        padding: 14px 18px;
        width: 100%;
        outline: none;
        color: black;
        box-sizing: border-box;
        font-family: Roboto;
        transition: 0.2s border-color;
        font-size: 15px;
        background: white;

        &:focus {
            border: 1px solid rgb(63, 171, 230);
        }

        &.error {
            color: #000;
            border: 1px solid rgb(210, 67, 30);
            background: rgb(255, 247, 247)
        }

        &::placeholder {
            color: rgb(107, 107, 107);
        }

        &:disabled {
            border-color: rgb(222, 222, 222);
            pointer-events: none;

            &::placeholder {
                color: rgb(200, 200, 200);
            }
        }

        &::-webkit-scrollbar {
            cursor: pointer;
            width: 16px;
        }

        &::-webkit-scrollbar-thumb {
            cursor: pointer;
            background: rgb(231, 235, 237);
            border-radius: 16px;
            border: 5px solid rgb(255, 255, 255);
        }

        &::-webkit-scrollbar-track {
            cursor: pointer;
            background: rgb(255, 255, 255);
            border-radius: 16px;
        }
    }

    .inputLabel {
        position: relative;
        color: rgb(107, 107, 107);

        input[type=text] {
            &::placeholder {
                opacity: 0;
                color: rgb(222, 222, 222);
            }

            padding-top: 20px;

            &:focus-within::placeholder {
                opacity: 1;
            }
        }

        &:focus-within label {
            transform: translateY(-13px);
            color: rgb(170, 170, 170);
            font-size: 11px;
            line-height: 19px;
            letter-spacing: 0.16px;
        }

        label {
            position: absolute;
            left: 15px;
            top: 50%;
            margin-top: -9px;
            color: rgb(107, 107, 107);
            font-size: 15px;
            line-height: 19px;
            letter-spacing: 0.21px;
            pointer-events: none;
            transition: all 0.2s ease 0s;
            text-align: left;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            width: calc(100% - 30px);
        }
    }

    input[type=text] {

        &:focus {
            color: rgb(0, 0, 0);
            border-color: rgb(63, 171, 230);
        }

        color: rgb(107, 107, 107);
        font-size: 16px;
        font-weight: 400;
        width: 100%;
        box-sizing: border-box;
        display: block;
        border: 1px solid rgb(216, 216, 216);
        border-radius: 4px;
        padding: 8px 15px;
        appearance: none;
        outline: none;

        &.error {
            border: 1px solid rgb(224, 32, 32);
            background-color: rgb(255, 247, 247);
            color: rgb(224, 32, 32);
            font-weight: bold;
        }

        &:disabled {
            border-color: rgb(222, 222, 222);
            background: rgb(255, 255, 255);
            cursor: not-allowed;
        }

        &:disabled+label {
            color: rgb(200, 200, 200);
        }
    }

    span.error {
        margin-top: 4px;
        color: rgb(210, 67, 30);
        font-size: 12px;
        line-height: 12px;
        display: block;
        text-align: left;
    }

    label {
        font-size: 14px;
        display: block;
        text-align: left;
        margin-bottom: 5px;
    }

    input[type=radio] {
        position: absolute;
        top: 0px;
        display: block;
        width: 100%;
        left: 0px;
        height: 100%;
        cursor: pointer;
        margin: 0px;
        padding: 0px;
        opacity: 0;
        z-index: 1;

        &:disabled {
            cursor: default;
        }

        &:disabled+.radioStyling {
            border: 1px solid rgb(222, 222, 222) !important;
            border-color: rgb(222, 222, 222) !important;
        }

        &:disabled:checked+.radioStyling::before {
            background-color: rgb(222, 222, 222);
        }
    }

    .radioContainer {
        position: relative;
        cursor: pointer;
        display: inline-flex;
        -webkit-box-align: center;
        align-items: center;

        &:hover .radioStyling {
            border: 1px solid #6B6B6B;
        }
    }

    .radioStyling {
        display: block;
        position: relative;
        border-radius: 100%;
        box-sizing: border-box;
        transition: border-color 0.15s linear 0s;
        width: 12px;
        background-color: #fff;
        height: 12px;
        border: 1px solid #AAAAAA;

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 6px;
            height: 6px;
            transform: translate3d(-50%, -50%, 0px);
            border-radius: 50%;
            background-color: transparent;
            transition: background-color 0.15s linear 0s;
        }

        &.medium {
            width: 20px;
            height: 20px;

            &::before {
                width: 10px;
                height: 10px;
            }
        }

        &.large {
            width: 28px;
            height: 28px;

            &::before {
                width: 14px;
                height: 14px;
            }
        }

        &.error {
            border: 1px solid rgb(210, 67, 30);
            background-color: #FFF7F7;
        }


        input[type=radio]:checked+.radioStyling {
            border: 2px solid #2196F3;
        }

        input[type=radio]:checked+.radioStyling::before {
            background-color: rgb(33, 150, 243);
        }

        input[type=radio]:checked+.radioStyling.error {
            background-color: #fff;
        }
    }

    input[type=checkbox] {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;

        &:checked~.checkbox::after {
            display: block;
        }

        &:checked~.checkbox {
            border: 1px solid rgb(58, 72, 80);
            background-color: #fff;
        }
    }

    .checkboxContainer {
        display: inline-block;
        position: relative;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        height: 16px;
        margin-bottom: 0;
        width: 16px;

        .checkbox:after {
            left: 5px;
            top: 2px;
            height: 8px;
            width: 4px;
            border: solid rgb(33, 150, 243);
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }

    }

    .checkbox {
        position: absolute;
        top: 0;
        left: 0;
        border: 1px solid rgb(170, 170, 170);
        height: 16px;
        width: 16px;
        transition: 0.2s border-color;
        background-color: white;

        &:hover {
            border: 1px solid rgb(107, 107, 107);
        }

        &::after {
            content: "";
            position: absolute;
            display: none;
        }

        &.error {
            margin-top: 0;
            background-color: rgb(255, 247, 247);
            border: 1px solid rgb(210, 67, 30);
        }
    }
}

.selectContainer {
    width: 280px;

    &.small button {
        height: 32px;
    }

    &.large button {
        height: 56px;
    }

    &.error button {
        border: 1px solid rgb(210, 67, 30);
        background-color: rgb(255, 247, 247);
        color: rgb(176, 189, 197);
    }

    &.error button.filled {
        color: rgb(176, 189, 197);
    }

    button {
        background-color: white;
        border: 1px solid rgb(216, 216, 216);
        color: rgb(15, 15, 15);
        font-size: inherit;
        font-family: Roboto;
        border-radius: 4px;
        cursor: pointer;
        width: 280px;
        appearance: none;
        padding: 0px 20px 0px 20px;
        background-repeat: no-repeat;
        background-position: right 18px center;
        position: relative;
        text-align: left;
        outline: none;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        display: grid;
        grid-template-columns: 1fr auto;
        column-gap: 10px;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        height: 48px;
        transition: 0.2s all;

        &:disabled {
            border: 1px solid rgb(216, 216, 216);
            cursor: default;
            pointer-events: none;
            color: rgb(216, 216, 216);
        }

        &.active {
            border: 1px solid rgb(33, 150, 243);
            border-radius: 4px 4px 0px 0px;
            cursor: pointer;
            color: rgb(137, 149, 156);
            z-index: 3;

            svg {
                transform: rotate(180deg);
            }
        }

        &.filled {
            color: rgb(15, 15, 15);
        }

        svg {
            width: 12px;
            transition: ease-in-out .2s all;
            transform: rotate(0deg);
        }

        .selectedItem {
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    ul {
        display: none;
        background-color: rgb(255, 255, 255);
        border-radius: 0px 0px 4px 4px;
        border-top: 1px solid rgb(33, 150, 243);
        position: absolute;
        width: 280px;
        z-index: 5;
        overflow: overlay;
        box-shadow: rgba(58, 72, 80, 0.24) 0px 1px 1px 0px,
            rgba(176, 189, 197, 0.12) 1px 2px 11px -1px;
        box-sizing: border-box;
        margin: 0px;
        padding: 10px 0px;
        max-height: 309px;
    }

    li {
        position: relative;
        font-family: Roboto;
        color: rgb(45, 45, 45);
        cursor: pointer;
        display: block;
        padding: 0px 20px;
        line-height: 25px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        outline: none;
        height: 24px;
        font-size: 16px;

        &:hover {
            background-color: rgb(247, 248, 249);
        }

        &.selected {
            background-color: rgb(242, 242, 242);

        }
    }
}