@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot');
    src: url('../fonts/icomoon.eot') format('embedded-opentype'),
        url('../fonts/icomoon.ttf') format('truetype'),
        url('../fonts/icomoon.woff') format('woff'),
        url('../fonts/icomoon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

svg.dsmIcons {
    * {
        stroke: black !important;
    }

    height: 16px;
    width: auto;
}

.dsmIcons {
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: white;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &.gift:before {
        content: "\e906";
    }

    &.call:before {
        content: "\e907";
    }

    &.truck:before {
        content: "\e908";
    }

    &.chat:before {
        content: "\e909";
    }

    &.money:before {
        content: "\e90a";
    }

    &.help:before {
        content: "\e90b";
    }

    &.money_round:before {
        content: "\e90d";
    }

    &.approve:before {
        content: "\e90f";
    }

    &.reply:before {
        content: "\e910";
    }

    &.anti-reflect:before {
        content: "\e911";
    }

    &.eyestrain-relief .path1:before {
        content: "\e912";
    }

    &.form:before {
        content: "\e917";
    }

    &.lenses:before {
        content: "\e918";
    }

    &.computer:before {
        content: "\e919";
    }

    &.calendar:before {
        content: "\e91a";
    }

    &.uv_protection:before {
        content: "\e91b";
    }

    &.rx:before {
        content: "\e91c";
    }

    &.lock:before {
        content: "\e91d";
    }

    &.glasses:before {
        content: "\e91e";
    }

    &.camera:before {
        content: "\e91f";
    }

    &.visual-comfort:before {
        content: "\e920";
    }

    &.mobile:before {
        content: "\e921";
    }

    &.choose-frame:before {
        content: "\e922";
    }

    &.try_online:before {
        content: "\e923";
    }

    &.upload:before {
        content: "\e924";
    }

    &.credit_card:before {
        content: "\e925";
    }

    &.arrow-up:before {
        content: "\e900";
    }

    &.arrow-right:before {
        content: "\e901";
    }

    &.arrow-left:before {
        content: "\e902";
    }

    &.arrow-down:before {
        content: "\e903";
    }

    &.map:before {
        content: "\e904";
    }

    &.clock:before {
        content: "\e905";
    }

    &.search:before {
        content: "\e90c";
    }
}