@font-face {
    font-family: 'brands';
    src: url('../fonts/brands.eot?y0faqm');
    src: url('../fonts/brands.eot?y0faqm#iefix') format('embedded-opentype'), url('../fonts/brands.ttf?y0faqm') format('truetype'), url('../fonts/brands.woff?y0faqm') format('woff'), url('../fonts/brands.svg?y0faqm#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

svg.dsmLogo {
    * {
        fill: black !important;
    }

    height: 25px;
    width: auto;
}

.dsmLogo {
    font-family: 'brands' !important;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: black;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &.adidas:before {
        content: "\e900";
    }

    &.alain_mikli:before {
        content: "\e901";
    }

    &.armani_exchange:before {
        content: "\e902";
    }

    &.autoflex:before {
        content: "\e903";
    }

    &.balenciaga:before {
        content: "\e904";
    }

    &.blumarine:before {
        content: "\e905";
    }

    &.burberry:before {
        content: "\e906";
    }

    &.calvin_klein_ck:before {
        content: "\e907";
    }

    &.calvin_klein_cosmetics:before {
        content: "\e908";
    }

    &.calvin_klein:before {
        content: "\e909";
    }

    &.celine:before {
        content: "\e90a";
    }

    &.coach:before {
        content: "\e90b";
    }

    &.converse:before {
        content: "\e90c";
    }

    &.diva:before {
        content: "\e90d";
    }

    &.dkny:before {
        content: "\e90e";
    }

    &.dsquared2:before {
        content: "\e90f";
    }

    &.emporio_armani:before {
        content: "\e910";
    }

    &.ermenegildo_zenga:before {
        content: "\e911";
    }

    &.flexon:before {
        content: "\e912";
    }

    &.fossil:before {
        content: "\e913";
    }

    &.gant:before {
        content: "\e914";
    }

    &.giorgio_armani:before {
        content: "\e915";
    }

    &.givenchy:before {
        content: "\e916";
    }

    &.gucci:before {
        content: "\e917";
    }

    &.guess:before {
        content: "\e918";
    }

    &.hugo_boss:before {
        content: "\e919";
    }

    &.jimmy_choo:before {
        content: "\e91a";
    }

    &.kate_spade:before {
        content: "\e91b";
    }

    &.lacoste:before {
        content: "\e91c";
    }

    &.lanvim:before {
        content: "\e91d";
    }

    &.marc_jacobs:before {
        content: "\e91e";
    }

    &.michael_kors:before {
        content: "\e91f";
    }

    &.miu_miu:before {
        content: "\e920";
    }

    &.mont_blanc:before {
        content: "\e921";
    }

    &.nike:before {
        content: "\e922";
    }

    &.oakley:before {
        content: "\e923";
    }

    &.oneill:before {
        content: "\e924";
    }

    &.persol:before {
        content: "\e925";
    }

    &.pierre_cardin:before {
        content: "\e926";
    }

    &.polo_ralph_lauren:before {
        content: "\e927";
    }

    &.prada:before {
        content: "\e928";
    }

    &.puma:before {
        content: "\e929";
    }

    &.ray_ban:before {
        content: "\e92a";
    }

    &.saint_laurent:before {
        content: "\e92b";
    }

    &.stella_mccartney:before {
        content: "\e92c";
    }

    &.super_dry:before {
        content: "\e92d";
    }

    &.swarovski:before {
        content: "\e92e";
    }

    &.tom_ford:before {
        content: "\e92f";
    }

    &.tory_burch:before {
        content: "\e930";
    }

    &.versach:before {
        content: "\e931";
    }

    &.viktor_and_rolf:before {
        content: "\e932";
    }

    &.vogue:before {
        content: "\e933";
    }

    &.revel_tune:before {
        content: "\e934";
    }

    &.amelia_e:before {
        content: "\e935";
    }

    &.gamespex:before {
        content: "\e936";
    }

    &.gamespex2:before {
        content: "\e937";
    }

    &.muse_symbol:before {
        content: "\e938";
    }

    &.muse_x_hilary_duff:before {
        content: "\e939";
    }

    &.muse:before {
        content: "\e93a";
    }

    &.olos:before {
        content: "\e93b";
    }

    &.ottoto:before {
        content: "\e93c";
    }

    &.revel:before {
        content: "\e93d";
    }

    &.seaclean:before {
        content: "\e93e";
    }

    &.yoji:before {
        content: "\e93f";
    }
}