.dsmSlider {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 20px;

    input[type=checkbox] {
        opacity: 0;
        width: 0;
        height: 0;

        &:checked+.slider {
            background-color: #2196F3;
        }

        &:focus+.slider {
            box-shadow: 0 0 1px #2196F3;
        }

        &:checked+.slider:before {
            transform: translateX(16px);
        }

        &:disabled+.slider {
            cursor: default;
            background-color: #F1F1F1;
        }
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #B0BDC5;
        -webkit-transition: .4s;
        border-radius: 34px;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        border-radius: 50%;
        height: 16px;
        width: 16px;
        box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
        left: 2px;
        bottom: 2px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }
}