.dsmTrustpilot-Header {
    display: flex;
    justify-content: center;
    align-items: center;

    >* {
        margin-right: 13px !important;
    }

    >*:last-child {
        margin-right: 0 !important;
    }

    @media (max-width: 768px) {
        flex-direction: column;

        >* {
            margin-right: 0 !important;
            margin-bottom: 10px !important;
        }

        >*:last-child {
            margin-bottom: 0 !important;
        }

        .reviewsDot {
            display: none;
        }

        .trustpilotLogo {
            height: 21px;
            width: 82px;
        }
    }

    .starsContainer {
        display: flex;

        svg {
            margin-right: 2px;
        }

        svg:last-child {
            margin-right: 0;
        }

        @media (max-width: 768px) {
            svg {
                width: 26px;
                height: 26px;
            }
        }
    }

    .numberOfReviews {
        color: #0F0F0F;
        font-family: Roboto;
        font-size: 19.2px;
        font-weight: 300;
        letter-spacing: 0;
        line-height: 23px;

        @media (max-width: 768px) {
            color: #0F0F0F;
            font-family: Helvetica;
            font-size: 12px;
            letter-spacing: 0;
            line-height: 14px;
        }
    }
}