        .innerWidth {
          max-width: 1024px;
          margin: auto;
        }

        html {
          scroll-behavior: smooth;

        }

        body {
          min-height: 100vh;
          margin: 0;
          font-family: Roboto;
        }

        * {
          box-sizing: border-box;
          outline: 0;
        }

        .inlineStyling {
          margin: 0 5px;
          margin-top: 0 !important;
          padding: 0 !important;
          display: inline-flex !important;
          white-space: normal !important;
        }

        .inlineStyling .hljs {
          padding: 0;
          margin-top: 0;
        }

        pre {
          margin: 0;
        }

        .exampleContainer {
          display: flex;
          gap: 10px;
          margin-top: 35px;
        }

        .page-layout {
          display: grid;
          grid-template-columns: auto 1fr;
          column-gap: 100px;
          align-items: flex-start;
        }

        .hoverTooltip {
          display: block !important;
          visibility: visible;
          background-color: white !important;
          color: black !important;
          border-color: white !important;
          color: #3A4850;
          font-family: Roboto;
          font-size: 12px;
          letter-spacing: 0;
          line-height: 14px;
          box-shadow: 0 1px 2px 0 rgba(58, 72, 80, 0.07),
            0 6px 13px 0 rgba(176, 189, 197, 0.14) !important;
        }

        .hoverTooltip .tippy-arrow {
          color: white !important;
        }

        #iconStroke,
        #iconFill {
          transition: 0.2s all;
        }

        .copyIcon:hover #iconStroke {
          stroke: black;
        }

        .copyIcon * {
          cursor: pointer !important;
        }

        .copyIcon:hover #iconFill {
          fill: black;
        }

        .content {
          font-size: 12px;
          padding: 40px;
          line-height: 19px;
          color: #2D2D2D;
        }

        .pageTitle {
          color: #2196F3;
          font-size: 22px;
          font-weight: 300;
          letter-spacing: 0;
          padding-bottom: 26px;
        }

        .pageSubTitle {
          color: #2D2D2D;
          font-size: 16px;
          font-weight: 300;
          letter-spacing: 0;
          margin-bottom: 51px;
        }

        .sideNav {
          top: 50px;
          position: sticky;
          color: #898989;
          font-size: 12px;
          display: flex;
          flex-direction: column;
          gap: 30px;
          font-weight: 300;
          padding-left: 34px;
          border-left: 0.5px solid #dcdcdc;
          letter-spacing: 0;
          line-height: 14px;
        }

        .sideNav .active {
          color: #2D2D2D;
          font-weight: 300;
        }

        .splitColumn {
          display: grid;
          max-width: 1100px;
          margin: auto;
          grid-template-columns: 1fr max-content;
          gap: 69px;
          align-items: flex-start;
        }

        .contentMaxWidth {
          max-width: 1100px;
          margin: auto;
        }

        .sectionTitle {
          color: #2D2D2D;
          font-family: Roboto;
          font-size: 18px;
          font-weight: 300;
          letter-spacing: 0;
          line-height: 21px;
          margin-top: 55px;
          margin-bottom: 17px;
        }

        a {
          cursor: pointer;
          color: inherit;
          text-decoration: inherit;
        }

        .previewTitle {
          color: #2D2D2D;
          font-size: 12px;
          font-weight: 300;
          letter-spacing: 0;
          line-height: 19px;
        }

        .gridTable {
          margin-top: 37px;
          display: grid;
          gap: 35px;
          justify-content: flex-start;
          align-items: center;
          grid-template-columns: auto 300px;
        }

        .gridTable .inlineStyling {
          color: #D2431E !important;
          padding: 0 7px !important;
          justify-self: flex-start;
        }